@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "https://fonts.googleapis.com/css2?family=Sour+Gummy";
@import "https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css";
@import "themes/rose-pine.css";
@import "themes/catppuccin.css";
@import "themes/nord.css";
@import "themes/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: hidden;
    font-size: var(--font-size);
  }
}

.max-content-width {
  width: max-content;
}

.scale-60 {
  transform: scale(0.6);
}

.scale-60 > .ti {
    scale: 200%;
}

.glazewm-paused {
    background-color: #290000;
}

#ignore-button {
  padding-left: 10px;
}